.forecast {
    margin: 0 auto;
    text-align: center;
}

.singleday {
    background-color: rgb(218, 241, 255);
    border-radius: 15px;
    margin: 10px 5px;
    max-width: 100px;
    padding: 10px 5px;
}

.forecast img {
    max-width: 50px;
    margin: 15px 10px;    
}

.sunicon {
    max-width: 70px;
}