:root {
    --main-colour: rgb(183, 229, 255);
    --secondary-colour: rgb(255, 255, 255);
    --text-colour: rgb(45, 86, 145);
}

a {
    color: var(--secondary-colour);
    text-decoration: none;
    padding: 0 6px 2px;
}

a:hover {
    color: var(--text-colour);
}

.clickableUnit {
    background-color: rgba(183, 229, 255, 0.4);
    border-radius: 2px;
    font-size: 20px;
    padding: 0 6px;
    
}

.clickableUnitFahrenheit {
    background-color: rgba(183, 229, 255, 0.4);
    border-radius: 2px;
    font-size: 20px;
    padding: 0 8px;
}

.selectedUnit {
    background-color: rgb(183, 229, 255);
    border-radius: 2px;
    font-size: 20px;
    padding: 0 6px;
}

.selectedUnitFahrenheit {
    background-color: rgb(183, 229, 255);
    border-radius: 2px;
    font-size: 20px;
    padding: 0 8px;
}

.WeatherTemperature {
    padding: 20px 0;
}

.temperature {
    font-size: 30px;
}

@media (max-width: 800px) {
   

    .selectedUnit {
        background-color: transparent;
        font-size: 15px;
    }

    .clickableUnit {
        background-color: transparent;
        color: var(--main-colour);
        font-size: 15px;
    }

    .selectedUnitFahrenheit {
        background-color: transparent;
        font-size: 15px;
    } 

    .clickableUnitFahrenheit {
        background-color: transparent;
        color: var(--main-colour);
        font-size: 15px;
    }

    .temperature {
        font-size: 20px;
    }
    

}