:root {
    --main-colour: rgb(183, 229, 255);
    --secondary-colour: rgb(255, 255, 255);
    --text-colour: rgb(45, 86, 145);
}

body {
    background-image: url("./images/background.jpg");
    color: var(--text-colour);
}

footer {
    margin-bottom: 100px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.Weather {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    max-width: 700px;
    margin: 100px auto 20px;
    padding: 50px 20px;
}

.search-button {
    background-color: var(--main-colour);
    border: none;
    color: var(--text-colour);
}

.search-button:hover {
    background-color: var(--main-colour);
    color: var(--secondary-colour);
}

@media (max-width: 800px) {

    form {
        margin-bottom: 0;
    }

    h1 {
        padding: 0;
    }

    img {
        max-width: 50px;
    }

    .left-column {
        padding: 0;
    }

}